
body {
	background: black url('/images/footstuff.png') fixed repeat-x left bottom;
	margin: 0;
	padding: 0;
}

/*.header {
	margin-left: 15%;
	text-align: center;
	color: rgb(39,181,225);
}*/
div#header{width:100%;overflow:hidden; float: right;}
div#header h1,div#menu{width:75%;margin:0 auto;text-align:left;}
div#header h1{padding: 30px 0 10px;color: #FFF; float:right; position: relative; z-index:2;}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0;}
ul#nav{float:right;font-size: 80%; position: relative;}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: rgb(39,181,225);text-decoration:none;color: #FFC}
ul#nav a:hover{background: #5CCCCC;color: black}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

.title {
	font-size: 4.5em;
}

.subtitle {
}

div#wrapper {
	text-align: center;
}

.fadein { position:relative; width: 100%; height: 450px; text-align: center;}
.fadein img { position:absolute; left:0; top:0; width: 100%; height: 100%;}

div#content {
	background-color: rgb(39,181,225); /* 39, 181, 225*/
	text-align: left;
	width: 70%;
	margin: 0 auto;
	float:left;
	padding: .5em;
	position: relative;
	z-index: 2;
}

div#logos {
	float: left;
	width: 20%;
	margin-right:5px; 
	margin-top: 150px;
	position: relative;
	z-index:2;
}

#team4logo {
	position: absolute;
	top: -25px;
	left: 5px;
	z-index:1;
}

#frclogo {
	width: 100%;
}

div#footer {
	clear: both;
}