body { 

	margin: 0px auto; 
	font: 13px sans-serif; 
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fc5e9), to(#6491af)); 
	background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#8fc5e9), to(#6491af)); 
	background: gradient(linear, 0% 0%, 0% 100%, from(#8fc5e9), to(#6491af));*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c7fef), to(#8fc5e9)); 
	background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#1c7fef), to(#8fc5e9)); 
	background: gradient(linear, 0% 0%, 0% 100%, from(#1c7fef), to(#8fc5e9)); 

	text-align: center; 

}

#menu-wrap { 

	width: 910px; 
	height: 220px; 
	padding-bottom: 10px;

}

.menu-block { 

	width: 220px;
	height: 220px; 
	float: left;
	display: block; 
	overflow: hidden;
	position: relative; 
	margin: 0 4px 0 0; 
	background: white; border: 1px solid #666;

}

.menu-block:last-child { 

	margin: 0; 

} /* removes margin on last block */

	/*--------------------------------different menu block styles--------------------------------*/

		#redblock { 

			width: 220px; 
			height: 200px; 
			position: absolute; 
			display: block; 
			background-color: #ED1C24; 
			color: #CCC; 
			font-size:25px; 
			font-weight: bold; 
			padding-top: 30px; 
			box-shadow: 5px 5px 2px #9C9C9C;
			-webkit-transition: top .3s ease-in-out; 

		}

		#whiteblock { 

			width: 220px; 
			height: 200px; 
			position: absolute; 
			display: block;
			background-color: #FFFFFF; 
			color: #777; 
			font-size:25px; 
			font-weight: bold; 
			padding-top: 30px; 
			box-shadow: 5px 5px 2px #9C9C9C;
			-webkit-transition: top .3s ease-in-out
		}


		#blueblock { 

			width: 220px; 
			height: 200px; 
			position: absolute; 
			display: block; 
			background-color: #0066B3; 
			color: #CCC; 
			font-size:25px; 
			font-weight: bold; 
			padding-top: 30px; 
			box-shadow: 5px 5px 2px #9C9C9C; 
			-webkit-transition: top .3s ease-in-out; 

		}	

		#blackblock { 

			width: 220px; 
			height: 200px; 
			position: absolute; 
			display: block; 
			background-color: #000; 
			color: #CCC; 
			font-size:25px; 
			font-weight: bold;
			padding-top: 30px; 
			box-shadow: 5px 5px 2px #9C9C9C; 
			-webkit-transition: top .3s ease-in-out; 

		}

		#mentors { 

			width: 220px; 
			height: 200px; 
			position: absolute; 
			display: block; 
			background-color: #000; 
			color: #CCC; 
			font-size:25px; 
			font-weight: bold;
			padding-top: 30px; 
			box-shadow: 5px 5px 2px #9C9C9C; 

		}

			#contact { 

				width: 220px; 
				height: 200px; 
				position: absolute; 
				display: block; 
				background-color: #ED1C24; 
				color: #CCC; 
				font-size:25px; 
				font-weight: bold; 
				padding-top: 30px; 
				box-shadow: 5px 5px 2px #9C9C9C;

			}

	/*--------------------------------END different menu block styles--------------------------------*/


.menu-block #redblock { 

	top: -180px; 

}

.menu-block #whiteblock { 

	top: -180px; 

}

.menu-block #blueblock {

	top: -180px;

}

.menu-block #blackblock {

	top: -180px;

}

.menu-block:hover #mentors {


}

.menu-block:hover #contact {


}

.thumb_content { 

	padding: 70px 15px 0 15px; 
	color: #777; 

}

.thumb_content a { 

	text-decoration: none; 
	color: #777; 
	font-weight: bold; 
	font-size: 15px;

}

.thumb_content a:hover { 

	color: #000; 
	font-weight: bolder;

}

.thumb_content h1 { 

	margin: 0 0 5px 0; 
	color: #0B3652; 
	font-size: 27px; 
}

.header { 

	width: 910px; 
	margin: 100px auto 2px auto; 
	padding: 10px;

}

.footer {

	width: 910px;
	margin: 200px auto 2px auto;
	padding: 10px;


}

.footer img {

	float: left;

}

.footer h3 {

	font-size: 15px;
	float: left;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
}

.footer a {

	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;

}

.footer a:hover {

	color: #CCC;
	font-weight: bolder;

}

/*--------------------------------START content pages styles--------------------------------*/

.rightContainerText {

	font-size: 25px;
	margin-left: 10px;
	color: #000;
	font-weight: normal;
	padding-left: 100px;
	min-height: 1000px;
	width: 910px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #CCC;
	text-align: left;
	box-shadow: 5px 5px 2px #778;

}

.rightContainerText img {

	width: 910px;
	padding-bottom: 10px;
	margin: 0px;

}


.caption {

	font-size: 23px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;

}

.rightContainerText a {

	color: #1c7fef;
	text-decoration: none;

}

.rightContainerText h3 {

	text-shadow: 3px 4px #1c7fef;
	font-size: 39px;
	font-weight: bolder;

}

.rightContainerText a:hover {

	background-color: #CCC;
	opacity: 0.6;

}


.contentfooter {

	width: 910px;
	margin: -40px auto 2px auto;
	padding: 10px;


}

.contentfooter img {

	float: left;

}

.contentfooter h3 {

	font-size: 15px;
	float: left;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
}

.contentfooter a {

	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;	
}

.contentfooter a:hover {

	color: #CCC;
	font-weight: bolder;

}


/*--------------------------------END content pages styles--------------------------------*/


.arrow {

	font-size: 20px;
	font-weight: bolder;
	padding: 10px;

}

.arrow:hover {

	background-color: #CCC;
	border-radius: 15px;
	opacity: 0.2;
}



.title {

	font-size: 50px;
	font-weight: bolder;

}



/*--------------------------------START profile pages styles--------------------------------*/

/*img {vertical-align:text-top;}*/

.profile img {

	width: 360px;
	height: 480px;

}


/*--------------------------------END profile pages styles--------------------------------*/
 div.c1 {text-align: left;}
 div.c2 {text-align: center; text-shadow: 3px 4px #1c7fef; font-size: 39px; font-weight: bolder;}
 div.c3 {text-align: right;}
/*--------------------------------START blog page styles--------------------------------*/

.contentInside {

	border-bottom: 5px dashed #001;	

}

/*--------------------------------END blog page styles--------------------------------*/