<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="Stylesheet" type="text/css" href="assets/css/style.css" />
			<meta name="description" content"{{ page.description }}" />
			<meta name="keywords" content"{{ page.keywords }}" />
			<meta name="author" content"{{ page.author }}" />
			<meta http-equiv="content-type" content="text/html;charset="UTF-8" /">
			 <script type="text/Javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <!-- Include Main Easy Slides library & default css file-->
        <script type="text/Javascript" src="jQuery.easySlides/js/jquery.easyslides.min.v1.1.js"></script>
        <link rel="stylesheet" type="text/css" href="jQuery.easySlides/css/easySlides.default.min.css" />
        <!-- Include own Javascript/jQuery & CSS file for Example 1 -->
        <script type="text/Javascript" src="Examples/Example 1/example_1.js"></script>
        <link rel="stylesheet" type="text/css" href="Examples/Example 1/styles.css" />
        <!-- Include own Javascript/jQuery & CSS file for Example 2 -->
        <script type="text/Javascript" src="Examples/Example 2/example_2.js"></script>
        <link rel="stylesheet" type="text/css" href="Examples/Example 2/styles.css" />
        <!-- Include CSS stylesheet for this page -->
        <link rel="stylesheet" type="text/css" href="ReadMe_files/styles.css" />

<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {		
	
	//Execute the slideShow
	slideShow();

});

function slideShow() {

	//Set the opacity of all images to 0
	$('#gallery a').css({opacity: 0.0});
	
	//Get the first image and display it (set it to full opacity)
	$('#gallery a:first').css({opacity: 1.0});
	
	//Set the caption background to semi-transparent
	$('#gallery .caption').css({opacity: 0.7});

	//Resize the width of the caption according to the image width
	$('#gallery .caption').css({width: $('#gallery a').find('img').css('width')});
	
	//Get the caption of the first image from REL attribute and display it
	$('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
	.animate({opacity: 0.7}, 400);
	
	//Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
	setInterval('gallery()',6000);
	
}

function gallery() {
	
	//if no IMGs have the show class, grab the first image
	var current = ($('#gallery a.show')?  $('#gallery a.show') : $('#gallery a:first'));

	//Get next image, if it reached the end of the slideshow, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('caption'))? $('#gallery a:first') :current.next()) : $('#gallery a:first'));	
	
	//Get next image caption
	var caption = next.find('img').attr('rel');	
	
	//Set the fade in effect for the next image, show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
	
	//Set the opacity to 0 and height to 1px
	$('#gallery .caption').animate({opacity: 0.0}, { queue:false, duration:0 }).animate({height: '1px'}, { queue:true, duration:300 });	
	
	//Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
	$('#gallery .caption').animate({opacity: 0.7},100 ).animate({height: '50px'},500 );
	
	//Display the content
	$('#gallery .content').html(caption);
	
	
}

</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="ddaccordion.js">

/***********************************************
* Accordion Content script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
* This notice must stay intact for legal use
***********************************************/

</script>


<script type="text/javascript">


ddaccordion.init({
	headerclass: "submenuheader", //Shared CSS class name of headers group
	contentclass: "submenu", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["suffix", "<img src='plus.gif' class='statusicon' />", "<img src='minus.gif' class='statusicon' />"], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
})


</script>


<style type="text/css">

.glossymenu{
margin: 5px 0;
padding: 0;
width: 220px; /*width of menu*/
border: 3px solid #000000;
}

.glossymenu a.menuitem{
background: rgb(39,181,255);
font: normal 14px Century Gothic, Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
color: white;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 4px 0;
padding-left: 10px;
text-decoration: none;
border-bottom: 1px solid #000000;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: white;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
background-color: #00A8FF;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid grey;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 13px Century Gothic, Arial, Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
background: #93DAFF;
colorz: white;
}

</style>
<style type="text/css">
body{
	font-family:arial;
	background-color: #93DAFF;
}

.clear {
	clear:both
}

#gallery {
	position:relative;
	height:300px;
	width: 930px;
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:50px; 
		width:900px; 
		position:absolute;
		bottom:0;
		text-align:left;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		color: #27B5FF;
	}

	.mainContentWrapperInside {
	margin: 10px auto 2px auto;
	width: 930px;
	min-height: 1460px;
	background-color: #FFFFFF;
	padding: 13px;
}
	

</style>
<script>
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({
                pageLanguage: 'en',
                floatPosition: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
              });
            }
        </script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30892192-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
        </script>
		</head>
		<body>
			
			<div class="mainContentWrapper">
				<div class="header">
					   <a href="index.html"><img src="assets/images/team4silverlogoslayout.png" width="600px" height="143px" title="Banner" alt="Team 4 ELEMENT Banner" onContextMenu="return false" onDragStart="return false" /></a>
				</div>
				<br />

				<div class="mainContentWrapperInside">

<div class="photoslider">
<div id="gallery">

	<a href="http://usfirst.org" class="show">
		<img src="assets/images/slider/banner1.png" alt="FIRST Robotics Competition Team #4" width="930px" height="300px" title="" alt="" rel="<h3>FIRST Robotics Competition Team #4</h3>We are Team 4 ELEMENT, and we design, machine, build, and program robots! "/>
	</a>
	
	<a href="#">
		<img src="assets/images/slider/banner4.png" alt="2012 Regionals" width="930px" height="300px" title="" alt="" rel="<h3>2012 Regionals</h3>Come down to the <i>Long Beach Arena</i> and the <i>Cashmen Center</i> to watch us <q>play ball!</q> "/>
	</a>
	<a href="legosummercamp.html">
		<img src="assets/images/slider/banner3.png" alt="Summer Lego Robotics Camp" width="930px" height="300px" title="" alt="" />
	</a>
	
	

	<div class="caption"><div class="content"></div></div>
</div>
<div class="clear"></div>

</div>

<div class="sidebar">
	&nbsp;&raquo; Navigation

<div class="glossymenu">
<a class="menuitem" href="index.html">Home</a>
<a class="menuitem submenuheader" href="aboutmain.html">About</a>
<div class="submenu">
	<ul>
	<li><a href="aboutteam.html">Our Team</a></li>
		<li><a href="aboutschool.html">Our School</a></li>
	<li><a href="teammembers.html">Team Memebers</a></li>
	<li><a href="teamoutreach.html">Outreach</a></li>
	<li><a href="regapplication.html">Team Application</a></li>
</ul>

</div>
<a class="menuitem submenuheader" href="firstmain.html">FIRST</a>
<div class="submenu">
	<ul>
	<li><a href="aboutfirst.html">About</a></li>
	<li><a href="2012gameinfo.html">2012 Game Info</a></li>
	<li><a href="previousgames.html">Previous Games</a></li>
	<li><a href="ourrobots.html">Robots</a></li>
		<li><a href="firstawards.html">Awards</a></li>
	</ul>
</div>
<a class="menuitem submenuheader" href="sponsorsmain.html">Sponsors</a>
<div class="submenu">
	<ul>
	<li><a href="currentsponsors.html">Current Sponsors</a></li>
	<li><a href="becomeasponsor.html">Become a Sponsor</a></li>
	</ul>
</div>
<a class="menuitem submenuheader" href="mediamain.html">Media</a>
<div class="submenu">
	<ul>
	<li><a href="photogal.html">Photo Gallery</a></li>
	<li><a href="videogal.html">Video Gallery</a></li>
	<li><a href="teamblog.html">Team Blog</a></li>
	</ul></div>
	<a class="menuitem submenuheader" href="resourcesmain.html">Resources</a>
<div class="submenu">
	<ul>
	<li><a href="teamhandbook.html">Handbook</a></li>
	<li><a href="teamidentitystandards.html">Identity Standards</a></li>
	<li><a href="shopsafety.html">Shop Safety</a></li>
	<li><a href="teamcalendar.html">Calendar</a></li>
	</ul>
</div>
<a class="menuitem" href="login.php" style="border-bottom-width: 0">Team Members' Login</a>		
</div>
<br />
&nbsp;&raquo; Team Calendar
<iframe src="https://www.google.com/calendar/embed?title=Team%204%20ELEMENT&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=415&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=team4elementrobotics%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style=" border:solid 3px #000000 " width="220" height="415" frameborder="0" scrolling="no"></iframe><br />
<br />
&nbsp;&raquo; Recent Blog Posts
<br />
  	<div class="recentBlogPosts">

{% for post in site.posts limit: 5 %}
  <div class="post_info">
    <li>
            <a href="{{ post.url }}">{{ post.title }}</a><br />
            <span>{{ post.date | date:"%m-%d-%y" }}</span><br /><br />
    </li>

    </div>
    
  {% endfor %}
  </div>

</ul>
</div>
<br />
  	<div class="mainHeader">{{ page.headercontent }}</div>

<div class="main">
				{{ content }}
</div>
<br />
<br />
<br />
<br />

</div>
</div>


			
			</div>
					<div class="footer"> <div class="contentfooter">
                <a href="http://www.ht-la.org" target="blank"><img src="assets/images/htlalogotransnew.png" width="auto" height="auto" alt="High Tech Los Angeles School Logo" title="High Tech Los Angeles School Logo" /></a> <script type="text/javascript">
                    function changeTextE(){
                        document.getElementById('boldStuff').innerHTML = 'Engineering ';
                    }
                    
                    function changeTextBackE(){
                        document.getElementById('boldStuff').innerHTML = 'E . ';
                    }
                    
                    function changeTextL(){
                        document.getElementById('boldStuff2').innerHTML = 'Leadership ';
                    }
                    
                    function changeTextBackL(){
                        document.getElementById('boldStuff2').innerHTML = 'L . ';
                    
                    }
                    
                    
                    function changeTextP(){
                        document.getElementById('boldStuff3').innerHTML = 'Entrepreneurship ';
                    }
                    
                    function changeTextBackP(){
                        document.getElementById('boldStuff3').innerHTML = 'E . ';
                    
                    }
                    
                    function changeTextQ(){
                        document.getElementById('boldStuff4').innerHTML = 'Mentoring ';
                    }
                    
                    function changeTextBackQ(){
                        document.getElementById('boldStuff4').innerHTML = 'M . ';
                    
                    }
                    
                    
                    function changeTextR(){
                        document.getElementById('boldStuff5').innerHTML = 'Education ';
                    }
                    
                    function changeTextBackR(){
                        document.getElementById('boldStuff5').innerHTML = 'E . ';
                    
                    }
                    
                    
                    function changeTextS(){
                        document.getElementById('boldStuff6').innerHTML = 'Networking ';
                    }
                    
                    function changeTextBackS(){
                        document.getElementById('boldStuff6').innerHTML = 'N . ';
                    
                    }
                    
                    
                    function changeTextT(){
                        document.getElementById('boldStuff7').innerHTML = 'Teamwork ';
                    }
                    
                    function changeTextBackT(){
                        document.getElementById('boldStuff7').innerHTML = 'T . ';
                    
                    }
                </script>
                <h3>&copy; Team  4 <span class="contentfooter" id="boldStuff" onmouseover="changeTextE()" onmouseout="changeTextBackE()">E .</span> <span class="contentfooter" id="boldStuff2" onmouseover="changeTextL()" onmouseout="changeTextBackL()">L .</span> <span class="contentfooter" id="boldStuff3" onmouseover="changeTextP()" onmouseout="changeTextBackP()">E .</span> <span class="contentfooter" id="boldStuff4" onmouseover="changeTextQ()" onmouseout="changeTextBackQ()">M .</span> <span class="contentfooter" id="boldStuff5" onmouseover="changeTextR()" onmouseout="changeTextBackR()">E .</span> <span class="contentfooter" id="boldStuff6" onmouseover="changeTextS()" onmouseout="changeTextBackS()">N .</span> <span class="contentfooter" id="boldStuff7" onmouseover="changeTextT()" onmouseout="changeTextBackT()">T .</span> <span class="contentfooter">2006 - 2012</span><br />
                    New website designed and programmed by Shawn Schwartz, 10th Grade<br />
                    Powered by <a href="https://www.github.com/mojombo/jekyll" target="_blank">Jekyll</a>
                </h3>
               <br />
            </div>				
		</body>
	</html>