<!DOCTYPE html>
	<html>
		<head>
			<title>Team 4 Members Area</title>
			<link rel="Stylesheet" type="text/css" href="memberstyle.css" />
		</head>
		<body>
		<h2>Welcome Team 4 ELEMENT Members!</h2>
				<div class="logoutButton">Logout</div> &nbsp;
<div class="logoutButton">Welcome { members.name }&nbsp;&nbsp;&nbsp;&middot;</div>

<br />
<br />
<div class="membersHeader">
<b>The Build Blog</b>
<br />
The daily blog of our build season.
<br />
Written by our very own Team 4 Students.
</div>
<br />
{{ content }}
			
		</body>
	</html>
	