<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="Stylesheet" type="text/css" href="style.css" />
        <link rel="Stylesheet" type="text/css" href="newMenu.css" />
        <link rel="stylesheet" href="lytebox/lytebox.css" type="text/css" media="screen" />
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>-->
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" language="javascript" src="lytebox/lytebox.js"></script>
        <script type="text/javascript">
            var timeout = 500;
            var closetimer  = 0;
            var ddmenuitem  = 0;
            
            // open hidden layer
            function mopen(id)
            {   
                // cancel close timer
                mcancelclosetime();
            
                // close old layer
                if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
            
                // get new layer and show it
                ddmenuitem = document.getElementById(id);
                ddmenuitem.style.visibility = 'visible';
            
            }
            // close showed layer
            function mclose()
            {
                if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
            }
            
            // go close timer
            function mclosetime()
            {
                closetimer = window.setTimeout(mclose, timeout);
            }
            
            // cancel close timer
            function mcancelclosetime()
            {
                if(closetimer)
                {
                    window.clearTimeout(closetimer);
                    closetimer = null;
                }
            }
            
            // close layer when click-out
            document.onclick = mclose; 
                    
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="js/jquery-easing-1.3.pack.js"></script>
        <script src="js/jquery-easing-compatibility.1.2.pack.js"></script>
        <script src="js/coda-slider.1.1.1.pack.js"></script>
        <script>
            var theInt = null;
            var $crosslink, $navthumb;
            var curclicked = 0;
            
            theInterval = function(cur){
                clearInterval(theInt);
                
                if( typeof cur != 'undefined' )
                    curclicked = cur;
                
                $crosslink.removeClass("active-thumb");
                $navthumb.eq(curclicked).parent().addClass("active-thumb");
                    $(".stripNav ul li a").eq(curclicked).trigger('click');
                
                theInt = setInterval(function() {
                    $crosslink.removeClass("active-thumb");
                    $navthumb.eq(curclicked).parent().addClass("active-thumb");
                    $(".stripNav ul li a").eq(curclicked).trigger('click');
                    curclicked++;
                    if( 6 == curclicked )
                        curclicked = 0;
                    
                }, 3000);
            };
            
            // DOM Ready
            $(function() {
                
                $("#main-photo-slider").codaSlider();
                
                $navthumb = $(".nav-thumb");
                $crosslink = $(".cross-link");
                
                $navthumb
                    .click(function() {
                        var $this = $(this);
                        theInterval($this.parent().attr('href').slice(1) - 1);
                        return false;
                    });
                
                theInterval();
            });
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30892192-1']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
        </script>
    </head>
    <body>
        <center>
            <div class="header">
                <img src="images/banner.png" />
            </div>
            <div class="menu" />
            <!--<a href="#footer">Footer</a>-->
            <ul id="sddm">
                <li><a href="index2.html">Home</a></li>
                <li>
                    <a href="#" onmousedown="mopen('m1')" onmouseover="mopen('m1')" onmouseout="mclosetime()">FIRST</a>
                    <div id="m1" onmousedown="mcancelclosetime()" onmouseover="mopen('m1')" onmouseout="mclosetime()">
                        <a href="http://usfirst.org">Website</a>
                        <a href="motto.html">Motto</a>
                        <a href="aboutfirst.html">About</a>
                        <a href="#">2012 Game Info</a>
                        <a href="prevgames.html">Previous Games</a>
                    </div>
                </li>
                <li>
                    <a href="#" onmouseover="mopen('m2')" onmouseout="mclosetime()">About Us</a>
                    <div id="m2" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <a href="aboutourteam.html">Our Team</a>
                        <a href="#">Our School</a>
                        <a href="achievements.html">Achievements</a>
                        <a href="#">Team Members</a>
                    </div>
                </li>
                <li>
                    <a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Our Robot</a>
                    <div id="m3" onmouseover="mcancelclosetime()" onmouseout="mclosetime()" />
                    <a href="#">&nbsp;&nbsp;&nbsp;2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                <li><a href="mentors.html">Mentors</a></li>
                <li>
                    <a href="#" onmouseover="mopen('m4')" onmouseout="mclosetime()">Media</a>
                    <div id="m4" onmouseover="mcancelclosetime()" onmouseout="mclosetime()" />
                    <a href="blog.html">Team Blog</a><a href="photogal.html">Photo Gallery</a><a href="videogal.html">Video Gallery</a>
                </li>
                <li>
                    <a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Sponsors</a>
                    <div id="m5" onmouseover="mcancelclosetime()" onmouseout="mclosetime()" />
                    <a href="sponsors.html">Our Sponsors</a><a href="sponsorus.html">Sponsor Us</a>
                </li>
                <li>
                    <a href="#" onmouseover="mopen('m6')" onmouseout="mclosetime()">Tutorials</a>
                    <div id="m6" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                        <a href="#">Design</a><a href="#">Machining</a><a href="#">Electronics</a><a href="#">Programming</a><a href="#">FAQs</a>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <!--<div style="clear:both"></div>-->
            </div>
            <div class="mainContainer">
                <div class="leftContainer">
                    <div class="socialButtons2">
                        <img src="images/followteam4new.png" width="351px" height="52px" />
                    </div>
                    <div class="socialButtons">
                        <div class="leftContainerAnn">
                            <center>
                            <a href="http://www.youtube.com/team4element"><img src="images/socialbuttons/youtube.png" width="auto" height="auto" title="youtube" alt="youtube" /></a>&nbsp;&nbsp;<a href="http://www.twitter.com/team4element"><img src="images/socialbuttons/twitter.png" width="auto" height="auto" title="twitter" alt="twitter" /></a>&nbsp;&nbsp;<a href="https://www.facebook.com/pages/Team-4-ELEMENT/308272882572916"><img src="images/socialbuttons/facebook.png" width="auto" height="auto" title="facebook" alt="facebook" /></a>
                            <br />
                            <a href="https://www.github.com/team4element"><img src="images/git.png" width="100px" height="44px" title="github" alt="github" /></a></center>
                        </div>
                    </div>
                    <br />
                    <div class="socialButtons2">
                        <img src="images/importantdatesnew.png" width="351px" height="52px" />
                    </div>
                    <br />
                    <div class="socialButtons">
                        <div class="leftContainerAnn">
                            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=379&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=team4elementrobotics%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="310" height="430px" frameborder="0" scrolling="no"></iframe>   
                        </div>
                    </div>
                    <br />
                    <div class="socialButtons2">
                        <img src="images/announcementsnew.png" width="351px" height="52px" />
                    </div>
                    {% for post in site.posts %}
                    <div class="leftContainerann">
                        <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                        <p>{{ post.preview }}</p>
                        <div style="clear:both;">&nbsp;</div>
                    </div>
                    {% endfor %}
                </div>
                <br />
                <div class="rightContainer">
                    {{ content }}
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="frclogo"><a href="http://usfirst.org" target="_blank"><img src="images/frc.gif" width="300px" height="225px" /></a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="footer">
                <script type="text/javascript">
                    function changeTextE(){
                        document.getElementById('boldStuff').innerHTML = 'Engineering ';
                    }
                    
                    function changeTextBackE(){
                        document.getElementById('boldStuff').innerHTML = 'E . ';
                    }
                    
                    function changeTextL(){
                        document.getElementById('boldStuff2').innerHTML = 'Leadership ';
                    }
                    
                    function changeTextBackL(){
                        document.getElementById('boldStuff2').innerHTML = 'L . ';
                    
                    }
                        
                    
                    function changeTextP(){
                        document.getElementById('boldStuff3').innerHTML = 'Entrepreneurship ';
                    }
                    
                    function changeTextBackP(){
                        document.getElementById('boldStuff3').innerHTML = 'E . ';
                    
                    }
                    
                    function changeTextQ(){
                        document.getElementById('boldStuff4').innerHTML = 'Mentoring ';
                    }
                    
                    function changeTextBackQ(){
                        document.getElementById('boldStuff4').innerHTML = 'M . ';
                    
                    }
                    
                    
                    function changeTextR(){
                        document.getElementById('boldStuff5').innerHTML = 'Education ';
                    }
                    
                    function changeTextBackR(){
                        document.getElementById('boldStuff5').innerHTML = 'E . ';
                    
                    }
                    
                    
                    function changeTextS(){
                        document.getElementById('boldStuff6').innerHTML = 'Networking ';
                    }
                    
                    function changeTextBackS(){
                        document.getElementById('boldStuff6').innerHTML = 'N . ';
                    
                    }
                    
                    
                    function changeTextT(){
                        document.getElementById('boldStuff7').innerHTML = 'Teamwork ';
                    }
                    
                    function changeTextBackT(){
                        document.getElementById('boldStuff7').innerHTML = 'T . ';
                    
                    }
                </script>
                <span class="team4Header">&nbsp;&nbsp;&copy;&nbsp;Team 4</span>&nbsp;&nbsp;<span class="teamHeader" id="boldStuff" onmouseover="changeTextE()" onmouseout="changeTextBackE()" value="Change Text">E . </span>
                <span class="teamHeader" id="boldStuff2" onmouseover="changeTextL()" onmouseout="changeTextBackL()" value="Change Text">L . </span>
                <span class="teamHeader" id="boldStuff3" onmouseover="changeTextP()" onmouseout="changeTextBackP()" value="Change Text">E . </span> 
                <span class="teamHeader" id="boldStuff4" onmouseover="changeTextQ()" onmouseout="changeTextBackQ()" value="Change Text">M . </span> 
                <span class="teamHeader" id="boldStuff5" onmouseover="changeTextR()" onmouseout="changeTextBackR()" value="Change Text">E . </span> 
                <span class="teamHeader" id="boldStuff6" onmouseover="changeTextS()" onmouseout="changeTextBackS()" value="Change Text">N . </span> 
                <span class="teamHeader" id="boldStuff7" onmouseover="changeTextT()" onmouseout="changeTextBackT()" value="Change Text">T . </span><span class="team4Header">2012</span>
                <br />
                Graciously and Professionally Designed by Jeffrey Garcia, 12 & Programmed by Shawn Schwartz, 9
                <br />
                Powered by&nbsp;<a style="color:#000;" href="https://github.com/mojombo/jekyll">Jekyll</a>
                <br />
                <p> <a href="http://www.CynthiaSays.com/org/cynthiatested.htm"><img border="0" src="http://www.CynthiaSays.com/images/Ctested.gif" alt="Cynthia Tested!" height="31" width="88" /></a> </p>
            </div>
        </center>
    </body>
</html>